body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font: 400 14px 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font: 300 2.2em 'Nunito', sans-serif;
}

h2 {
    font: 400 1.8em 'Nunito', sans-serif;
}

h3 {
    font: 600 1.1em 'Nunito', sans-serif;
}

h4 {
    font: 400 1em 'Nunito', sans-serif;
}

ul {
    padding-inline-start: 26px;
}

li {
    margin-bottom: 0.1em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.entry-header a {
    background-color: #eeeeee;
    border-radius: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 0.9em;
}

em {
    font-style: italic;
}

.dates {
    font-style: italic;
    font-size: 0.9em;
}

.center-content {
    max-width: 1024px;
    min-width: 400px;
    width: 60vw;
    display: flex;
    margin: 20px auto;
}

#intro {
    justify-content: start;
    width: 50vw;
}

#intro-content {
    padding-left: 20px;
}

.profimg {
    width: 100px;
    object-fit: contain;
    border-radius: 50%;
}

#main-content {
    flex-direction: column;
}

.timeline {
    margin: 10px 0;
}

.timeline-entry {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
}

.entry-header {
    flex: 0 0 20vw;
    font-family: 'Nunito', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 10px;
}

.footer-entry {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font: 600 1.2em 'Nunito', sans-serif;
}